{{ define "main" }}
{{ $gallery := resources.Get "gallery/gallery.css" | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $gallery.RelPermalink }}">

<h1>{{ .Title }}</h1>
<div class="gallery-overlay">
    <div class="gallery-background">
        <div id="gallery"></div>
    </div>
</div>

<script>
const photos = [
{{- $photos := sort (resources.Match "magnets/*") "Name" -}}
{{- range $photos }}
    {{- $thumb := .Resize "600x webp q85" }}
    "{{ $thumb.RelPermalink }}",
{{- end }}
];
</script>

{{ $js := resources.Get "gallery/gallery.js" | resources.Minify | fingerprint }}
<script src="{{ $js.RelPermalink }}"></script>

{{ end }}
