.header-title {
font-size: 2em;
}
/* Place custom css here */

:root {
/*  --header-bottom-gap: 0rem;*/
--h1-font-size: 1.5em;
--p-font-size: 1em;
}

.box {
display: flex;
flex-wrap: wrap;
}

.speech-bubble {
  margin-left: 20px;
  border: 1.5px solid black;
  padding: 10px;
  text-align: center;
  align-content: center;
  position: relative;
}

.speech-bubble p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: var(--caption-font-size);
}


.sb:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 8px solid black;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 7px;
}

.sb:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 9px solid #fff;
  border-top: 9px solid #fff;
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 10px;
}

.line-summary p {
	font-size: small;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
}

.gallery-overlay {
  /* background-color: rgba(255, 9, 9, 0.44); */
  background-image: url('/checker.avif'); 
  box-shadow: 0 0 20px 10px #324c5dde;

  /* border: 40px solid transparent; Sets the width of the border area */
  /* border-image: url(/star.png)10% fill round */
   /* Repeats/scales the image to fit */

  
}
.gallery-background {
  
  /* Set your image path here */
  background-color: rgba(255, 9, 9, 0.117);
  /* Scale the image to fill the div without distorting */
  /* background-size: cover;  */
  
  /* Center the image within the container */
  background-position: center; 
  
  /* Prevent the image from repeating if the div is large */
  background-repeat: repeat-y; 
  /* height: 100vh; */
  /* Optional: Ensure the div has size to display the image */
  /* width: 100%; */
  min-height: 400px;
  color: white; /* Makes text readable over dark images */
}

.photo {
    width: 100%;
    display: block;
    border-radius: 6px;
    aspect-ratio: 1;
    object-fit: cover;
}

@media (max-width: 900px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #gallery {
        grid-template-columns: 1fr;
    }
}